.card{
  max-width: 500px;
  margin:100px 0 0;
  border-radius: 8px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
  padding: 30px 200px 30px 40px;
  color: #3c4049;
  background-repeat: no-repeat;
  background-size: 150px 150px;
  background-position: auto auto 50px 50px;
  background-position: right 20px top 20px;
  position: relative;;

  .player{
    font-weight: bold;
    color:#087cc1;
    .real-name{
      font-weight:normal;
      font-size:16px;
      &:before{
        content: "(";
      }
      &:after{
        content: ")";
      }
    }
    &.active-player{
      color:#51b40a;
    }
    &.alt{
      color:#e92525;
    }
  }

  p{
    padding:0;
    margin:0;
    font-size: 22px;
    font-style: italic;
    text-align: center;
  }
  ul{
    margin-top:30px;
    text-align: left;
    li{
      font-size: 18px;
      line-height: 25px;
      position: relative;
      margin-top:10px;
      padding-left:30px;
      svg{
        left:0;
        top:1px;
        position: absolute;
      }
    }
  }

  .card-count{
    position: absolute;
    right:20px;
    bottom:20px;
    font-size: 25px;
    font-weight: bold;
  }


  //themes
  &.costume{
    background-image: url("../assets/img/costume.png");
  }
  &.challenge{
    background-image: url("../assets/img/challenge.png");
  }
  &.timed{
    background-image: url("../assets/img/timed.png");
  }
  &.search{
    background-image: url("../assets/img/search.png");
  }
  &.trade{
    background-image: url("../assets/img/trade.png");
  }
  &.thief{
    background-image: url("../assets/img/thief.png");
  }
  &.gamble{
    background-image: url("../assets/img/gamble.png");
  }
  &.thumbs-up{
    background-image: url("../assets/img/thumbs-up.png");
  }
  &.thumbs-down{
    background-image: url("../assets/img/thumbs-down.png");
  }
  &.gift{
    background-image: url("../assets/img/gift.png");
  }
}
